<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TravelBot Chat</title>
  <link rel="stylesheet" href="./../static/styles.css">
</head>
<body>
  <div class="chat-container">
    <div id="chat-box" class="chat-box"></div>
    <div class="input-area">
      <input type="text" id="user-input" placeholder="iMessage" onkeydown="if(event.key==='Enter'){sendMessage()}">
      <button onclick="sendMessage()">Send</button>
    </div>
  </div>
  <script src="./../static/script.js"></script>
</body>
</html>
